#set($layout="/layout/bootstrap_admin_layout.vm")
#set($nav = 6)
#include("/common/encryptUtils.vm")
<link href="/js/file-upload/uploadfile.css" rel="stylesheet">
<script src="/js/file-upload/jquery.uploadfile.js"></script>
<link href="/js/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery-ui-1.11.4/jquery-ui.js"></script>

<div class="block">
<div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">添加照片</div>
                            </div>
<div class="block-content collapse in">
    <div class="span12">

<div class="bootstrap-form">
    <div  class="form-horizontal" >
        <div class="file-upload-params">
            <div class="file-upload-param">
                <div class="file-upload-param-name"><i>*</i>选择文件</div>
                <div class="file-upload-param-value"><div id="fileuploader">选择文件</div></div>
            </div>
            <div class="file-upload-param">
                <div class="file-upload-param-name"><i>*</i>文件名称</div>
                <div class="file-upload-param-value">
                    <input class="upload-input" type="text" name="name" placeholder="请输入文件名称"/>
                </div>
            </div>
            <div class="file-upload-param">
                <div class="file-upload-param-name"><i>*</i>图片标签</div>
                <div class="file-upload-param-value">
                    <input class="upload-input input-tags" type="text" name="tags" placeholder="标签1" maxlength="8"/>
                    <input class="upload-input input-tags" type="text" name="tags" placeholder="标签2" maxlength="8"/>
                    <input class="upload-input input-tags" type="text" name="tags" placeholder="标签3" maxlength="8"/>
                    <div class="add-tags-btn"><span>+</span></div>
                    <div class="upload-caption">每个标签可填入不超过8个字的关键词，请多填几项精确的关键词。</div>
                </div>
            </div>
            <div class="file-upload-param">
                <div class="file-upload-param-name"><i>*</i>拍摄时间</div>
                <div class="file-upload-param-value">
                    <input class="upload-input" id="datepicker" type="text" name="cTime" readonly="true" />
                </div>
            </div>
            <div class="file-upload-param">
                <div class="file-upload-param-name">照片简介</div>
                <div class="file-upload-param-value">
                    <textarea type="text" name="desc" rows="5" placeholder="可以输入200个汉字或字符" maxlength="200"></textarea>
                </div>
            </div>
            <div class="file-upload-param upload-container">
                <div class="file-upload-param-value"><span id="upload-btn" value="Upload">上传</span></div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>

<script type="text/javascript">
    // for alert dialog
    var isShowDialog = false;
    var redirectUrl = '';
    var errorInput = null;
    function dialogCallback(code) {
        isShowDialog = false;
        if (redirectUrl != '') {
            window.location.href = redirectUrl;
        } else if (errorInput != null && errorInput != 'undefined') {
            errorInput.focus();
        }
    }

    $().ready(function() {
        $( "#datepicker" ).datepicker({
            // changeMonth: true,
            // changeYear: true,
            dateFormat: "yy-mm-dd"
        });
        var fileUploader = $("#fileuploader").uploadFile({
            url:"/admin/photo/upload",
            uploadStr:"浏览",
            cancelStr:"取消",
            abortStr:"取消",
            fileName:"file",
            multiple:false,
            allowDuplicates:false,
            nestedForms:false,
            returnType:"json",
            autoSubmit:false,
            //acceptFiles:"video/*",
            showFileCounter:false,
            dragdropWidth:'100%',
            dynamicFormData: function()
            {
                var name = $(".file-upload-params input[name='name']").val();
                var tags = getTags();
                var cTime = $(".file-upload-params input[name='cTime']").val();
                var desc = $(".file-upload-params textarea[name='desc']").val();
                var data = {
                    name:name,
                    tags:tags,
                    cTime:cTime,
                    desc:desc
                };
                return data;
            },
            customProgressBar: function(obj,s)
            {
                this.statusbar = $("<div class='ajax-file-upload-statusbar'></div>");
                this.preview = $("<img class='ajax-file-upload-preview' />").width(s.previewWidth).height(s.previewHeight).appendTo(this.statusbar).hide();
                this.filename = $("<div class='ajax-file-upload-filename'></div>").appendTo(this.statusbar);
                this.progressDiv = $("<div class='ajax-file-upload-progress'>").appendTo(this.statusbar).hide();
                this.progressbar = $("<div class='ajax-file-upload-bar'></div>").appendTo(this.progressDiv);
                this.abort = $("<div><span class='uploading-caption'>文件上传中...</span><span class='abort-caption'>" + s.abortStr + "<span></div>").appendTo(this.statusbar).hide();
                this.cancel = $("<div class='ajax-file-upload-cancel'>" + s.cancelStr + "</div>").appendTo(this.statusbar).hide();
                this.done = $("<div>" + s.doneStr + "</div>").appendTo(this.statusbar).hide();
                this.download = $("<div>" + s.downloadStr + "</div>").appendTo(this.statusbar).hide();
                this.del = $("<div>" + s.deletelStr + "</div>").appendTo(this.statusbar).hide();
                this.done.addClass("custom-green");
                this.download.addClass("custom-green");
                this.cancel.addClass("custom-red");
                this.del.addClass("custom-red");
                $(this).hide();
                return this;
            },
            onLoad:function(obj)
            {
                console.info("fileuploader onload:" + obj);
                $(".ajax-upload-dragdrop span").html("");
            },
            onSelect:function(files)
            {
                files[0].name;
                files[0].size;
                var size = 0;
                if (files[0].size < 1024) {
                    size = files[0].size + ' B';
                } else if (files[0].size < 1024*1024) {
                    size = Math.round(files[0].size/1024) + ' KB';
                } else {
                    size = Math.round(files[0].size/1024/1024) + ' MB'
                }
                var fileName = files[0].name + ' (' + size + ')';
                $(".ajax-upload-dragdrop span").html(fileName);
                $(".ajax-file-upload-container").html();
                return true; //to allow file submission.
            },
            onSubmit:function(files)
            {
                console.log("submit: " + files);
            },
            onSuccess:function(files,data,xhr,pd)
            {
                console.log("success:" + JSON.stringify(data));
                if (data.code == 1) {
                    redirectUrl = "/admin/photo/list";
                    isShowDialog=octopusAlert("上传成功!",dialogCallback);
                } else if (data.code==-2 && data.message=='login') {
                    window.location.href="/login?returnurl=/admin/photo/add";
                }
            },
            afterUploadAll:function(obj)
            {
                console.log("after upload all:" + obj);
            },
            onError: function(files,status,errMsg,pd)
            {
                //debugger;
                console.log("error: " + files);
                isShowDialog=octopusAlert("上传失败：" + errMsg, dialogCallback);
            },
            onCancel:function(files,pd)
            {
                console.log("cancel:" + JSON.stringify(files));
            }
        });
        $("#upload-btn").click(function(){
            if ($(".ajax-upload-dragdrop span").html() == '') {
                isShowDialog = octopusAlert("请先选择要上传的文件",dialogCallback);
                errorInput = $(".ajax-upload-dragdrop span");
                return;
            }
            var inputParent = $(".file-upload-params");
            if (!checkEmpty(inputParent, "name", "文件名称", false)) {
                return;
            }
            var tags = getTags();
            if (tags == '') {
                isShowDialog = octopusAlert("请输入至少一个标签",dialogCallback);
                errorInput = inputParent.find('input[name="tags"]').first();
                return;
            }
            if (!checkEmpty(inputParent, "cTime", "拍摄时间", true)) {
                return;
            }
            $("#fileuploader").hide();
            $(".ajax-file-upload-statusbar").show();
    
            fileUploader.startUpload();
        });
        $(".add-tags-btn").click(function(){
            var tagsCount = $(".input-tags").size();
            $('<input class="upload-input input-tags" type="text" name="tags" placeholder="标签' + (tagsCount+1) + '" maxlength="8"/>').insertBefore($(this));
            if (tagsCount > 7) {
                $(this).remove();
            }
        });
        function getTags() {
            var tags = $(".file-upload-params input[name='tags']").map(function(){
                return $(this).val();
            }).get();
            var tagsStr = jQuery.grep(tags, Boolean).join(',');
            return tagsStr;
        }
        function checkEmpty(inputParent, inputName, inputDescription, selectable) {
            var val=inputParent.find('input[name="' + inputName + '"]').val();
            if(val == '') {
                if (selectable) {
                    isShowDialog=octopusAlert("请选择" + inputDescription,dialogCallback);
                } else {
                    isShowDialog=octopusAlert("请输入" + inputDescription,dialogCallback);
                }
                errorInput = inputParent.find('input[name="' + inputName + '"]');
                return false;
            }
            return true;
        }
    });
</script>