#macro(getVersion $v) 
	 #if($v==1)
	 	web
	 #else
	 	wechat
	 #end
#end


#macro(getResVersion)201409231010148#end

#macro(getRootPath)#end


#macro(getBackgroundColor $code)
	#if($code=="1")
		#1F90F8
	#elseif($code=="2")
		#81C146
	#elseif($code=="3")
		#F7912C
	#else
		#F2F2F2
	#end
#end


#macro(getBaidu)
<style type="text/css">
    a[href^='http://tongji.baidu.com']{
		display:none;
	}
</style>
#end