#if(${footer})
    ## do nothing
#else
    #set($footer="footer")
#end
<div id="$!{footer}" style="visibility: visible; display: block;">
    <div class="widget">
        <div id="text-2" class="widget widget_text">
            <h3 class="widget-title">$!{msgSource.getMessage("org_name",null,$locale)}</h3>
            <div class="textwidget"><p>$!{msgSource.getMessage("footer_into_title",null,$locale)}<br>
                $!{msgSource.getMessage("footer_into_body",null,$locale)}<br>
                $!{msgSource.getMessage("footer_into_location",null,$locale)}</p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div id="text-3" class="widget widget_text">
            <h3 class="widget-title">$!{msgSource.getMessage("footer_businesses",null,$locale)}</h3>
            <div class="textwidget">
                <p>
                    <a title="$!{msgSource.getMessage("footer_a_title1",null,$locale)}" href="/tag/web/">
                        $!{msgSource.getMessage("footer_business_1",null,$locale)}</a>,
                    <a title="$!{msgSource.getMessage("footer_a_title2",null,$locale)}" href="/tag/design/">
                        $!{msgSource.getMessage("footer_business_2",null,$locale)}</a>,
                    <a title="$!{msgSource.getMessage("footer_a_title3",null,$locale)}" href="/tag/illustrations/">
                        $!{msgSource.getMessage("footer_business_3",null,$locale)}</a>,
                    <a title="$!{msgSource.getMessage("footer_a_title4",null,$locale)}" href="/tag/print/">
                        $!{msgSource.getMessage("footer_business_4",null,$locale)}</a><br>
                    $!{msgSource.getMessage("footer_business_more",null,$locale)}<br>
                    © 2015, $!{msgSource.getMessage("footer_copy_rights",null,$locale)}
                </p>
            </div>
        </div>
    </div>
    <div class="widget">
        <div id="advancedrecentposts-3" class="widget widget_advancedrecentposts">
            <h3 class="widget-title">$!{msgSource.getMessage("footer_on_blog",null,$locale)}</h3>
            <ul class="advanced-recent-posts">
                <li><a href="/nuit-philo-design-poster/" title="$!{msgSource.getMessage("footer_a_title5",null,$locale)}">
                    $!{msgSource.getMessage("footer_on_blog_1",null,$locale)}</a></li>
                <li><a href="/greetings-cards-for-cute-new-year/" title="$!{msgSource.getMessage("footer_a_title6",null,$locale)}">
                    $!{msgSource.getMessage("footer_on_blog_2",null,$locale)}</a></li>
                <li><a href="/design-french-business-campus-2013/" title="$!{msgSource.getMessage("footer_a_title7",null,$locale)}">
                    $!{msgSource.getMessage("footer_on_blog_3",null,$locale)}</a></li>
            </ul>
        </div>
    </div>
    <div class="widget">
        <div id="rotatingtweets_widget-2" class="widget widget_rotatingtweets_widget">
            <h3 class="widget-title">$!{msgSource.getMessage("footer_on_twitter",null,$locale)}</h3>
            <div class="rotatingtweets rotatingtweets_format_0" id="rotatingtweets_554a0c4da8de0" data-cycle-auto-height="calc" data-cycle-fx="fade" data-cycle-pause-on-hover="true" data-cycle-timeout="4000" data-cycle-speed="1000" data-cycle-easing="swing" data-cycle-slides="div.rotatingtweet" data-cycle-log="false" style="position: relative; width: 240px; height: 48px;">
                <div class="rotatingtweet" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 240px;">
                    <p class="rtw_main">
                        $!{msgSource.getMessage("footer_on_twitter_1",null,$locale)}
                        <a href="#" title="#" target="_blank" class="rtw_hashtag_link">$!{msgSource.getMessage("footer_on_twitter_2",null,$locale)}</a> ! 
                        <a href="#" title="#" target="_blank" class="rtw_media_link">$!{msgSource.getMessage("footer_on_twitter_3",null,$locale)}</a>
                    </p>
                </div>
                <div class="rotatingtweet" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 5; width: 240px; opacity: 0;">
                    <p class="rtw_main">
                        $!{msgSource.getMessage("footer_on_twitter_4",null,$locale)}
                        <a href="#" title="#" target="_blank" class="rtw_url_link">$!{msgSource.getMessage("footer_on_twitter_5",null,$locale)}</a>
                    </p>
                </div>
                <div class="rotatingtweet" style="display: block; position: absolute; top: 0px; left: 0px; z-index: 6; width: 240px; opacity: 1;">
                    <p class="rtw_main">
                        $!{msgSource.getMessage("footer_on_twitter_6",null,$locale)}
                        <a href="#" title="#" target="_blank" class="rtw_hashtag_link">$!{msgSource.getMessage("footer_on_twitter_7",null,$locale)}</a>
                        $!{msgSource.getMessage("footer_on_twitter_8",null,$locale)}
                        <a href="#" title="#" target="_blank" class="rtw_media_link">$!{msgSource.getMessage("footer_on_twitter_9",null,$locale)}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>