#set($layout="/layout/bootstrap_layout.vm")
#include("/common/encryptUtils.vm")
<style>
.login{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:300px;
}
.login input{
    width: 100%;
    border-radius: 5px;
    border:1px solid #979797;
    height: 37px;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    font-size: 15px;
}
.btn-login{
    width: 100%;
    background-color: #0765c3;
    color: #ffffff;
    border-radius: 5px;
    height: 37px;
    text-align: center;
    margin-top: 40px;
    line-height: 42px;
    font-size: 18px;
    margin-bottom: 8px;
    cursor:default;
}
</style>

<div class="login">
    <input type="text" name="userName" /> <br/>
    <input type="password" name="password" /> <br/>
    <div id="btn-login" class="btn-login" style="">login</div>
</div>

<script type="text/javascript">
    var errorInput;
    var isShowDialog=false;
    function dialogCallback(code){
        isShowDialog=false;
        if(errorInput!=null && errorInput!='undefined'){
            errorInput.focus();
        }
    }
    $(function(){
        var loginBox=$('.login');
        loginBox.find('input[name="userName"]').focus();
        $('#btn-login').click(function(){
            var user=loginBox.find('input[name="userName"]').val();
            var pwd=loginBox.find('input[name="password"]').val();
            if(user == '') {
                isShowDialog=octopusAlert("请输入用户名",dialogCallback);
                errorInput = loginBox.find('input[name="userName"]');
                return;
            }
            if(pwd.length < 6){
                if(pwd == ''){
                    isShowDialog=octopusAlert("请输入密码",dialogCallback);
                }else{
                    octopusAlert("输入密码不能少于6位",dialogCallback);
                }
                errorInput = loginBox.find('input[name="password"]');
                return;
            }
            login(user,pwd);
        });

        $('.login input').keydown(function(e){
            if(e.keyCode==13){
                $('#btn-login').click();
                $(this).blur();
            }
            return true;
        });
    });
    function login(username,pwd){
        var url = '$!{returnurl}';
        jQuery.ajax({
            type:'post',
            dataType:'json',
            url:'/account/ajaxLogin',
            data:{'userName':username,'password':encrypt(pwd),'returnurl':url},
            beforeSend:function(){
            },
            success:function(data){
                var result=data['code'];
                if(result==1){
                    var url=data['url'];
                    if(url!=null){
                        window.location.href=url;
                    }else{
                        window.location.href='/';
                    }
                }else{
                    var msg=data['message'];
                    if(msg==null){
                        msg='验证失败';
                    }
                    errorInput = $('input[name="userName"]');
                    isShowDialog=octopusAlert(msg, dialogCallback);
                }
            },
            complete:function(){
            }
        });
    }
</script>
