#set($layout="/layout/bootstrap_layout.vm")
#include("/common/encryptUtils.vm")
<style>
.login{
    margin-top:20px;
}
.login input{
    width: 100%;
    border-radius: 5px;
    border:1px solid #979797;
    height: 42px;
    margin-top: 2px;
    padding: 5px;
    font-size: 15px;
}
.btn-login{
    width: 100%;
    background-color: #0765c3;
    color: #ffffff;
    border-radius: 5px;
    height: 42px;
    text-align: center;
    margin-top: 53px;
    line-height: 42px;
    font-size: 18px;
    margin-bottom: 8px;
}
</style>

<div class="login">
    <!--
    <form action="/account/login" method="POST">
        <input type="text" name="userName" /> <br/>
        <input type="password" name="userPassword" /> <br/>
        <input type="submit" name="submit" value="login" /> <br/>
    </form>
    -->
    <input type="text" name="userName" /> <br/>
    <input type="password" name="password" /> <br/>
    <div id="btn-login" class="btn-login" style="">login</div>
</div>

<script type="text/javascript">
    $(function(){
        var isShowDialog=false;
        function dialogCallback(code){
            isShowDialog=false;
        }
        var loginBox=$('.login');
        $('#btn-login').click(function(){
            var user=loginBox.find('input[name="userName"]').val();
            var pwd=loginBox.find('input[name="password"]').val();
            if(user == '') {
                isShowDialog=octopusAlert("请输入用户名",dialogCallback);
                return;
            }
            
            if(pwd.length < 6){
                if(pwd == ''){
                    isShowDialog=octopusAlert("请输入密码",dialogCallback);
                }else{
                    octopusAlert("输入密码不能少于6位",dialogCallback);
                }
                return;
            }     
        
            login(user,pwd);
            
        });
    });
    function login(username,pwd){
        var url = '$!{returnurl}';
        jQuery.ajax({
            type:'post',
            dataType:'json',
            url:'/account/ajaxLogin',
            data:{'userName':username,'password':encrypt(pwd),'returnurl':url},
            beforeSend:function(){
                
            },
            success:function(data){
                var result=data['code'];
                if(result==1){
                    var url=data['url'];
                    if(url!=null){
                        window.location.href=url;
                    }else{
                        window.location.href='/';
                    }
                }else{
                    var msg=data['msg'];
                    if(msg==null){
                        msg='验证失败';
                    }
                    isShowDialog=cloudAlert(msg);
                }
            },
            complete:function(){
                
            }       
        });
    }
</script>
