<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Octupus studio</title>
        <!-- Bootstrap -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/static/bootstrap-template/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/bootstrap-template/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/static/bootstrap-template/assets/styles.css" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
        <script src="/static/bootstrap-template/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-template/assets/scripts.js"></script>
        <script type="text/javascript" src="/js/bootstrap-paginator.js"></script>
        <script type="text/javascript" src="/js/octopusdio.js"></script>
    #include("/common/stat_baidu.vm")
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        $!{screen_content}
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </body>

</html>