<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Octopus studio</title>
        <!-- Bootstrap -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="Shortcut Icon" href="/img/icon/favicon.ico?" type="image/x-icon">
        <link href="/static/bootstrap-template/assets/styles.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" id="rs-plugin-settings-css" href="/css/settings.css" type="text/css" media="all">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/js/fbmodal/fbmodal.css"/>
        <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/fbmodal/jquery.fbmodel.js"></script>
        <script src="/static/bootstrap-template/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-template/assets/scripts.js"></script>
        <script type="text/javascript" src="/js/bootstrap-paginator.js"></script>
        <script type="text/javascript" src="/js/octopusdio.js"></script>
    #include("/common/stat_baidu.vm")
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        $!{screen_content}
                    </div>
                </div>
            </div>
        </div>
        <div class="alert" style="display:none;"></div>
#parse("/widget/footer.vm")
    </body>
</html>