#set($layout="/layout/web_layout.vm")
#set($menu="Blog")
#set($title=$blog.title)

<div id="single-wrapper" style="padding-top: 0px;">

    <h2 class="post-title">
        <a href="#" rel="bookmark">$!{blog.title}</a>
    </h2>
    <div class="post-body">
        <p>
        <pre>$!{blog.htmlBody}</pre>
        </p>
    </div>
    <p class="post-meta">
        $!{TimeUtils.formatDate($blog.createTime, "MM/dd/yyyy")}.<br/><br/>
    </p>
</div>