#set($layout="/layout/web_layout.vm")
#set($menu="Contact")
#set($title=${msgSource.getMessage("global_menu_contact",null,$locale)})

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<style type="text/css">
    #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>

#if($locale == "zh")
    <!-- 中文地图 -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TXtycxGmXvtoGL27Tdrha4xz"></script>
    <script type="text/javascript" src="/js/map-baidu.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            showMap("map-beijing", 116.275, 40.125, "北京");
            showMap("map-dongyang", 120.255, 29.26, "东阳");
        });
    </script>
#else
    <!-- English map -->
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="/js/map-bing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            showMap("map-beijing", 116.275, 40.125, "北京");
            showMap("map-dongyang", 120.255, 29.26, "东阳");
        });
    </script>
#end

<div id="single-wrapper" style="padding-top: 0px;">
    <div class="post-149 page type-page status-publish hentry single-folio" id="post-149">
        <div class="description">
            <div class="subnav">
                <ul class="submenu">  
                    <li class="page_item page-item-149 current_page_item"><a href="#">Contact</a></li>
                </ul>  
             </div>
             <div class="infos">
                $!{msgSource.getMessage("contact_info_1",null,$locale)}
                $!{msgSource.getMessage("contact_info_2",null,$locale)}
                <br><br>
                $!{msgSource.getMessage("contact_info_3",null,$locale)}
                <br>
                <a href="https://plus.google.com/104477294880878405480/posts"> Our Google+</a>
                <br>
                <a href="https://twitter.com/InfoOctopus"> Our Twitter</a>
            </div>
        </div>
        
            
        <div class="post-article">
            <div class="two-even">
                <p></p>
                <h2>$!{msgSource.getMessage("contact_address_title_1",null,$locale)}</h2>
                <p></p>
                <div id="map-beijing" style="width: 320px; height: 280px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                </div>
                <br>
                $!{msgSource.getMessage("contact_address_1",null,$locale)}<p></p>
                <p><a href="mailto:info.octopus.studio@gmail.com">info.octopus.studio@gmail.com</a><br>
                </p>
            </div>
            <div class="two-even last">
                <p></p>
                <h2>$!{msgSource.getMessage("contact_address_title_2",null,$locale)}</h2>
                <p></p>
                <div id="map-dongyang" style="width: 320px; height: 280px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                </div>
                <br>
                $!{msgSource.getMessage("contact_address_2",null,$locale)}<p></p>
                <p><a href="mailto:info.octopus.studio@gmail.com">info.octopus.studio@gmail.com</a><br>
                </p>
            </div>
        </div>
    </div>
</div><!-- /single-wrapper -->