#set($layout="/layout/web_layout.vm")
#set($menu="Contact")

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<style type="text/css">
    #allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>

#if($locale == "zh")
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TXtycxGmXvtoGL27Tdrha4xz"></script>
    <script type="text/javascript" src="/js/map-baidu.js"></script>
#else
    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="/js/map-bing.js"></script>
#end
<script type="text/javascript">
    jQuery(document).ready(function() {
        showMap("map-beijing", 116.275, 40.125, "北京");
        showMap("map-dongyang", 116.275, 40.125, "东阳");
    });
</script>
<div id="single-wrapper" style="padding-top: 0px;">
    <div class="post-149 page type-page status-publish hentry single-folio" id="post-149">
    
    
        <div class="description">
            <div class="subnav">
                <ul class="submenu">  
                    <li class="page_item page-item-149 current_page_item"><a href="./Kissing Kourami Japan - Graphic Design Tokyo & Geneva, Contact us._files/Kissing Kourami Japan - Graphic Design Tokyo & Geneva, Contact us..html">Contact</a></li>
                </ul>  
             </div>
             <div class="infos">Contact us now, to get more information about our services in graphic design, webdesign, print, illustration and more... we are located in Geneva and Tokyo
                <br><br>
                Discover us also on :
                <br>
                <a href="https://plus.google.com/b/115872464041013581673/115872464041013581673/posts"> Our Google+</a>
                <br>
                <a href="https://twitter.com/kourami"> Our Twitter</a>
            </div>
        </div>
        
            
        <div class="post-article">
            <div class="two-even">
                <p></p>
                <h2>Kissing Kourami Geneva</h2>
                <p></p>
                <div id="map-beijing" style="width: 320px; height: 280px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                </div>
                <br>
                10, rue Blavignac<br>
                1227 Carouge – Geneva<br>
                Switzerland<p></p>
                <p><a href="mailto:info.octopus.studio@gmail.com">info.octopus.studio@gmail.com</a><br>
                </p>
            </div>
            <div class="two-even last">
                <p></p>
                <h2>Kissing Kourami Tokyo</h2>
                <p></p>
                <div id="map-dongyang" style="width: 320px; height: 280px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
                </div>
                <br>
                Kotoku Ariake 1 Chome 5-2-2519<br>
                〒135-0063 Tokyo<br>
                Japan<p></p>
                <p><a href="mailto:info.octopus.studio@gmail.com">info.octopus.studio@gmail.com</a><br>
                </p>
            </div>
        </div>
    </div>
</div><!-- /single-wrapper -->