#set($layout="/layout/web_layout.vm")
#set($menu="Works")

<div id="grid-wrapper" style="position: relative; width: auto; height: 1374px;">

    <div class="grid-item-portfolio" id="post-1195" style="position: absolute; left: 0px; top: 0px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/koinobori-japanese-graphic-design-wedding-invitation-cards/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P30-M21-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/koinobori-japanese-graphic-design-wedding-invitation-cards/" rel="bookmark">Wedding Koinobori</a></h2>
        <div class="post-subtitle">KISSING KOURAMI LAB</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1133" style="position: absolute; left: 240px; top: 0px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/atlanticomnium/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P27-M-220x160.jpg" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/atlanticomnium/" rel="bookmark">Atlanticomnium</a></h2>
        <div class="post-subtitle">RE-BRANDING</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1109" style="position: absolute; left: 480px; top: 0px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/les-60-ans-de-linstitut-francais-du-japon/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P25-M-220x160.jpg" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/les-60-ans-de-linstitut-francais-du-japon/" rel="bookmark">60 ans of Institut Français</a></h2>
        <div class="post-subtitle">COMMUNICATION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1438" style="position: absolute; left: 720px; top: 0px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/piki-macaron/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/Ki-Illustration-01-Piki-M-220x160.png" class="alignleft" style="opacity: 0.5;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/piki-macaron/" rel="bookmark">Piki &amp; Macaron</a></h2>
        <div class="post-subtitle">ILLUSTRATION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-984" style="position: absolute; left: 0px; top: 229px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/le-mois-du-numerique/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P23-M.jpg" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/le-mois-du-numerique/" rel="bookmark">Le Mois du Numérique</a></h2>
        <div class="post-subtitle">COMMUNICATION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-821" style="position: absolute; left: 240px; top: 229px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/swiss-japanese-postcards/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-VE06-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/swiss-japanese-postcards/" rel="bookmark">Swiss Japanese Postcards</a></h2>
        <div class="post-subtitle">KISSING KOURAMI LAB</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-767" style="position: absolute; left: 480px; top: 229px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/hanafuda-meishi/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-MEISHI01-M.jpg" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/hanafuda-meishi/" rel="bookmark">Hanafuda Meishi</a></h2>
        <div class="post-subtitle">KISSING KOURAMI LAB</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1343" style="position: absolute; left: 720px; top: 229px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/ccifj-origami-design/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P29-M1-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/ccifj-origami-design/" rel="bookmark">CCIFJ</a></h2>
        <div class="post-subtitle">DESIGN &amp; EDITION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-743" style="position: absolute; left: 0px; top: 458px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/rebranding-logotype-safram/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P20-M2-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/rebranding-logotype-safram/" rel="bookmark">Safram</a></h2>
        <div class="post-subtitle">RE-BRANDING</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-350" style="position: absolute; left: 240px; top: 458px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/safram-ecards/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P15-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/safram-ecards/" rel="bookmark">Safram</a></h2>
        <div class="post-subtitle">ANIMATION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-662" style="position: absolute; left: 480px; top: 458px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/japan-summer-postcards/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-VE04-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/japan-summer-postcards/" rel="bookmark">Summer Postcards</a></h2>
        <div class="post-subtitle">KISSING KOURAMI LAB</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-248" style="position: absolute; left: 720px; top: 458px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/logotype-la-scene/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P06-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/logotype-la-scene/" rel="bookmark">La Scene</a></h2>
        <div class="post-subtitle">DESIGN &amp; WEBDESIGN</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-318" style="position: absolute; left: 0px; top: 687px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/allomenu/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P11-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/allomenu/" rel="bookmark">Allomenu</a></h2>
        <div class="post-subtitle">LOGOTYPE</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1263" style="position: absolute; left: 240px; top: 687px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/animal-life-partners-graphic-design-logotype/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P31-M-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/animal-life-partners-graphic-design-logotype/" rel="bookmark">Animal Life Partners</a></h2>
        <div class="post-subtitle">LOGOTYPE</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-911" style="position: absolute; left: 480px; top: 687px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/aliochafilms/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P22-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/aliochafilms/" rel="bookmark">Aliochafilms</a></h2>
        <div class="post-subtitle">LOGOTYPE</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1362" style="position: absolute; left: 720px; top: 687px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/japanese-life-design-greetings-card/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P32-M-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/japanese-life-design-greetings-card/" rel="bookmark">Japanese Life Tree</a></h2>
        <div class="post-subtitle">KISSING KOURAMI LAB</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-420" style="position: absolute; left: 0px; top: 916px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/world-economic-forum/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P17-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/world-economic-forum/" rel="bookmark">World Economic Forum</a></h2>
        <div class="post-subtitle">DESIGN &amp; EDITION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-1407" style="position: absolute; left: 240px; top: 916px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/graphic-design-brochure-university-japan/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P33-M-220x160.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/graphic-design-brochure-university-japan/" rel="bookmark">Niad University</a></h2>
        <div class="post-subtitle">EDITION</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-204" style="position: absolute; left: 480px; top: 916px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/webdesign-so-sweet-zerland/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P01-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/webdesign-so-sweet-zerland/" rel="bookmark">Good Heidi Production</a></h2>
        <div class="post-subtitle">DESIGN &amp; WEBDESIGN</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-648" style="position: absolute; left: 720px; top: 916px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/hors-pistes-tokyo-festival/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-VE02-M.jpg" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/hors-pistes-tokyo-festival/" rel="bookmark">Hors Pistes Tokyo</a></h2>
        <div class="post-subtitle">WEB DESIGN</div>
        <p class="post-meta"></p>
    </div>

    <div class="grid-item-portfolio" id="post-275" style="position: absolute; left: 0px; top: 1145px;">
    <div class="grid-image"><a href="http://www.kissingkourami.jp/cric-crac-croc/" rel="bookmark"><img alt="thumbnail" src="./Kissing Kourami Japan - Portfolio_files/KIPF-P09-M.png" class="alignleft" style="opacity: 0.9;"></a></div>
        <h2 class="post-title"><a href="http://www.kissingkourami.jp/cric-crac-croc/" rel="bookmark">Cric Crac Croc</a></h2>
        <div class="post-subtitle">DESIGN &amp; WEBDESIGN</div>
        <p class="post-meta"></p>
    </div>


</div><!-- /grid-wrapper -->