#set($layout="/layout/web_layout.vm")
#set($menu="Works")

<div id="grid-wrapper" style="position: relative; width: auto; height: 1374px;">

    #foreach($p in $photos)
        <div class="grid-item-portfolio" id="post-1195" style="position: absolute; left: 0px; top: 0px;">
        <div class="grid-image"><a href="/work/detail/$!{p.id}" rel="bookmark"><img alt="thumbnail" src="$!{p.uri}" class="alignleft" style="opacity: 0.9;"></a></div>
            <h2 class="post-title"><a href="" rel="bookmark">$!{p.title}</a></h2>
            <div class="post-subtitle">$!{p.createTime}</div>
            <p class="post-meta"></p>
        </div>
    #end

</div><!-- /grid-wrapper -->